html, body {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    /* overflow: auto; */
}

* {

    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #c9c5c5; */
    color: #fff;
    background: linear-gradient(to right, #48496c, #5640e4);
    height: 100%;
    

}

.design-outer-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
    background-color: #fefefe2f;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 95vw;
}

nav {

    position: sticky;
    top: 5px;
    max-width: 220px;
    height: 100vh;
    max-width: 200px;
    box-shadow: 1px 1px 1px #444672b5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
  
}

nav ul, li {
    list-style-type: none;
    padding: 0;

}

nav ul::before {
    content: attr(aria-label);
    font-size: 12px;
    font-weight: bold;

}
nav ul a {
    text-decoration: none;
    color: #fff;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 18px 6px 3px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 15px;
}
nav ul li:hover {
    opacity: .5;
}

nav ul li.active {
    background-color: #b8b6b6c4;
    border-radius: 5px;
}

nav ul li i {
    font-size: 12px;
    margin-right: 15px;
    width: 7px;
}

nav ul li span:nth-child(2) {
    background-color: #ccc;
    width: 20px;
    height: 15px;
    border-radius: 5px;
    color: #3a3a3a;
    font-size: 12px;
    text-align: center;
}

h5 {
    font-size: 14px;
    text-transform: capitalize;
    display: inline;
}

.nav-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.content-container .search {
   
 display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 14px 14px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 30px;
    max-width: 400px;
}

.content-container .search i {
    font-size: 11px;
    width: 15px;
    color: gray;
}

.content-container .search input {

    border: none;
    outline: none;
    width: 90%;
    height: 25px;
    padding:  5px;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}

.content-container .search span{
    display: flex;
    justify-content: center;
    padding: 5px;
    /* cursor: pointer; */
    /* height: 30px; */
    width: 10%;
 }
 
 .content-container .search span:hover {
     background-color: #b8b6b6c4;
     border-radius: 5px;
 }
 
nav .search  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #cececec4;
}

nav .search i {
    font-size: 11px;
    width: 15px;
    color: #fff;
}

nav .search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 12px;
}

nav li span i.red-color-box {
    display: inline-block;
    width: 7px;
    height: 8px;
    border-radius: 1px;
    background-color: red;
}

nav li span i.green-color-box {
    display: inline-block;
    width: 7px;
    height: 8px;
    border-radius: 1px;
    background-color: rgb(3, 70, 3);
}

nav li span i.yellow-color-box {
    display: inline-block;
    width: 7px;
    height: 8px;
    border-radius: 1px;
    background-color: yellow;
}

.content-heading h5 {
    font-size: 25px;

}

.content-heading span {
    font-size: 18px;
    padding-left: 20px;

}

.content-heading {
    margin-bottom: 20px;
}

.content {
    width: 75%;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.content-container .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 30px;
    max-width: 400px;
}

.content-container .input input {
    border: none;
    outline: none;
    width: 90%;
    height: 25px;
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    
}

.content-container .input button{
   outline: none;
   border: none;
   padding: 5px;
   cursor: pointer;
   height: 30px;
   width: 15%;
}

.content-container .input button:hover {
    background-color: #b8b6b6c4;
    border-radius: 5px;
}

.content-container ul {
    margin: 0;
    padding: 0;
}

.list-container li, .all-list-container li, .completed-list-container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px 25px;
    position: relative;
}

.list-container li:hover, .all-list-container li:hover, .completed-list-container li:hover {
    opacity: .9;
}

.list-container li span:nth-child(1)::before {
  
    content:'';
    width: 18px;
    height: 18px;
    border-radius: 20%;
    background-color: #f4f4f4;
    position: absolute;
    /* margin-right: 15px ; */
    top: 6px;
    left: 5px;
    cursor: pointer;
}

.list-container li span:nth-child(1).checked::before{
    width: 16px;
    height: 16px;
    background-color: #212579b5;
    border: 2px solid #120a42;

}

.list-container li span:nth-child(1).checked ~ .list-container li span.edit-button {
    display: none;
}

.all-list-container li span.edit-button {
    display: none;
}

.list-container li span:nth-child(1), .all-list-container li span:nth-child(1), .completed-list-container li span:nth-child(1) {
    font-size: 18px;
    cursor: pointer;
    width: 70%;
    text-transform: uppercase;
    padding-left: 25px;

}

.list-container li span.completed,  .completed-list-container li span.completed {
    font-size: 14px;
    position: absolute;
    right: 0;
    padding: 8px;
    height: 100%;
    cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #540505;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  color: #fff;
}

.all-list-container li span.completed, .all-list-container li span.edit-span {
    display: none;
}

.list-container li span.edit-span {
    margin-top: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    border-top: 1px solid grey;
    /* box-shadow: 0px 0px 0px 1px grey; */
}

.list-container li span.edit-span i.edit-button {
    padding: 3px 8px;
    cursor: pointer;
    font-size: 10px;
}

.list-container li span.edit-span i.edit-button:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

.list-container li span.edit, .all-list-container li span.edit {
    display: none;
    background: #f4f4f4;
    width: 60%;
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    height: 25px;
    margin: 10px 0 15px 22px;
}
.list-container li span.edit input {
  border: none;
  outline: none;
  margin-left: 7px;
  width: 70%;
  background: transparent;
  padding: 5px;
  border-radius: 5px
}

.list-container li span.edit button {
    border: none;
    outline: none;
    background: transparent;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (min-width: 300px) and (max-width: 650px)  {
    nav {
        display: none;
    }
    .content {
        width: 100%;
    }
}